.footer-section {
  padding-top: 0;
}

.background-image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.main-background-image {
  background-image: var(--main-background-image) !important;
}

h1 {
  text-shadow: 3px 3px 14px #0e083e;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.font-secondary,
.btn,
.font-tertiary,
.section-title {
  font-family: roboto, sans-serif !important;
}

.btn {
  text-transform: none;
}

.content strong {
  font-family: roboto, sans-serif !important;
}
